<div id="dialog-bills-form">
  <%= render partial: 'bills/form', locals: { list: @list, bills: @list.bills.build } %>
</div>

<br />
<button id="create-bill">Create A Bill</button>

<% if @list.bills.any? %>

<ul class="bills">
  <%= render partial: 'bills/bill', locals: { bills: @list.bills } %>
</ul>

<div class="add bill">
  
</div>
<% end %> 