<div id="left column">
  <div id="users-contain" class="ui-widget">
    <h1>My Lists:</h1>
    <% if current_user.lists.any? %>
    <ul class="lists">
      <%= render partial: 'lists/list', locals: { lists: current_user.lists } %>
    </ul>
    <% end %> 
  </div>
  <button id="create-list">Create new list</button>
</div>

<div id="middle column">
  <div id="dialog-form">
  <%= render partial: 'lists/new', locals: { lists: current_user.lists.build } %>
  </div>
</div>

<div id="right column">
  <h2> Your Stats: </h2>
</div>

