<h2>Create a new list:</h2>
<%= render partial: 'lists/new', locals: { lists: current_user.lists.build } %>
<% if current_user.lists.any? %>
<ul class="lists">
  <%= render partial: 'lists/list', locals: { lists: current_user.lists } %>
</ul>

<div class="add list">
  
</div>
<% end %> 