<h2>Create a new list:</h2>


<%#= render partial: 'partial name' %>
<div class="new_list">
  <script>
  console.log('hello');
  $.ajax({
    url : '<%= new_list_path %>',
    dataType : 'script'
  });
  </script>
</div>
<ul class="lists">
</ul>
