<div class="row">
    <div class="large-12 columns">
       <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Shows -->
            <div class="large-3 small-6 columns">
 
               <div id="users-contain" class="ui-widget">
                <h2>My Lists:</h2>
                <% if current_user.lists.any? %>
                <ul class="lists">
                  <%= render partial: 'lists/list', locals: { lists: current_user.lists } %>
                </ul>
                <% end %> 
              </div>
              <button id="create-list">Create new list</button>
 
              <div class="row">
                <div class="large-1 column">
                  <img src="http://placehold.it/50x50&amp;text=[img]">
                </div>
              </div>
            </div>
            <!-- End Shows -->
 
 
            <!-- Image -->
 
            <div class="large-6 small-6 columns">
                <div id="dialog-form">
              <%= render partial: 'lists/new', locals: { lists: current_user.lists.build } %>
              </div>
            </div>
 
            <!-- End Image -->
 
 
            <!-- Feed -->
 
            <div class="large-3 small-12 columns">
 
              <h4>Your Stats:</h4><hr>
              <div class="panel">
                <h5><a href="#">Post Title 1</a></h5>
 
                <h6 class="subheader">
                  Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
                </h6>
 
            </div>
 
            <!-- End Feed -->
 
          </div>
        </div>
      </div>



