<h3> Bills for list: <%= @list.name %> </h3>
<% bills.each do |bill| %>
  <% next if bill.description.nil? %>
  <h4><%= bill.description %></h4>
  <div id="bill_amount"><%= bill.amount %></div>
  <!-- get the date picker for date -->
  <div id="date_format"><%= bill.date %></div> 
<% end %>