<h3> These are all the bills </h3>
<% bills.each do |bill| %>
  <% next if bill.description.nil? %>
  <h4><%= bill.description %></h4>
  <p><%= bill.amount %></p>
  <!-- get the date picker for date -->
  <p><%= bill.date %></p> 
<% end %>