<tr>
  <td class="date">unknown</td>
  <td class="description">unknown</td>
  <td class="amount">unknown</td>
  <td class="date_paid">unknown</td>
  <td class="paid_by">unknown</td>
  <td class="shared_amount">unknown</td>
  <td><a href="#" class="edit">Edit</a></td>
  <td><a href="#" class="delete">Delete</a></td>
</tr>