<div id="list-amounts">
<!-- Need to make sure we are passing it what list we want to populate here for @list -->
<% @list = List.last %>

<% @total = Money.new(0, "USD") %>
<% @list.bills.each do |bill| %> 
  <% @total += bill.amount %>
<% end %>
<h5><%= @list.name %>'s Dues:</h5>
 <% @list.users.each do |user| %>
   <%= "#{user.amount_owed(@list, user)}" %><br /><br>
 <% end %>
<br />
 List's Total: $<%= @total %>