<div id="list-amounts">
<!-- Need to make sure we are passing it what list we want to populate here for @list -->

<% current_user.lists.each do |list| %>


<% @total = Money.new(0, "USD") %>
<% list.bills.each do |bill| %> 
  <% @total += bill.amount %>
<% end %>
<h5><%= list.name%> Dues:</h5>
 <% list.users.each do |user| %>
   <%= "#{user.amount_owed(list, user)}" %><br /><br>
 <% end %>
<br />
 List's Total: $<%= @total %>
<br />
<br />
 <% end %>




