<div id="list-amounts">
<!-- Need to make sure we are passing it what list we want to populate here for @list -->
<% @owe = [] %>
<% @owed = [] %>

 <% current_user.lists.each do |list| %>
  <% if current_user.amount_owed(list, current_user) <= 0 %>
    <% @owe << list %>
  <% else %>
    <% @owed << list %>
  <% end %>
<% end %>

  <h5>I Owe:</h5>
  <% if @owe.any? %>
    <% @owe.each do |list| %>
      $<%= Money.new(current_user.amount_owed(list, current_user)).abs %> - from <%= list.name%> list<br />
    <% end %>
  <% else %>
    <p>$0</p> 
  <% end %>
  <h5>Am Owed:</h5>
    <% if @owed.any? %>
      <% @owed.each do |list| %>
        $<%= current_user.amount_owed(list, current_user).abs %> - from <%= list.name%> list<br />
      <% end %>
    <% else %>
      <p>$0</p> 
  <% end %>




