<div id="list-amounts">
<h4>I Owe:</h4>
<% @total = Money.new(0, "USD") %>
<% current_user.lists.each do |list| %>
<% list.bills.each do |bill| %>
<% if bill.owner_id == current_user.id %> 
<% @total += bill.amount %></span>
<% end %>
<% end %>
<% end %>
<span class='owe'>$<%= @total %></span>
<br />
<br />

<h4>People Owe Me:</h4>
<% @total = Money.new(0, "USD") %>
<% current_user.lists.each do |list| %>
<% list.bills.each do |bill| %>
<% if bill.owner_id != current_user.id %> 
<% @total += bill.amount %>
<% end %>
<% end %>
<% end %>
<span class='owe-me'>$<%= @total %></span>
</div>