/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/


/*font-family: 'Shadows Into Light', cursive;
font-family: 'Happy Monkey', cursive;
font-family: 'Over the Rainbow', cursive;*/
$secondary-color: #FFAF89; /* Lavender */
$primary-color: #1C9C84;   /* teal */
$alert-color: #ED544C;     /* Red */

$alt-primary-color: #51089C;
$alt-secondary-color: #D2CAD9;

$small-screen: emCalc(768);
$large-screen: emCalc(769);

@import "foundation_and_overrides";
@import "foundation";
@import "custom"
