/*font-family: 'Shadows Into Light', cursive;
font-family: 'Happy Monkey', cursive;
font-family: 'Over the Rainbow', cursive;*/

$tan: #FFAF89;
$teal: #1C9C84;
$red: #ED544C;
$gray: #D2CAD9;
$purple: #51089C;

nav {
  padding: .1em;
  background-color: $purple;
}

header {
  display: inline-block;
  border: 0;
  padding-right: 0 0 0 .05em;
}

header h2 {
  display: inline;
  position: relative;
  padding-left: .5em;
  padding-right: 0;
  color: $tan;
  font-family: 'Over the Rainbow', cursive;
}

img {
  padding: .15em;
  width: 4em;
  float: left;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  color: $purple;
}

#login {
  display: inline;
  font-family: 'Happy Monkey', cursive;
  color: $gray;
  padding: 0;
}

