body {
  background-color: rgba(229,221,217, 0.1);
}

nav {
  background-color: $alt-primary-color;
}

h2 {
  color: $alt-primary-color;
}

header {
  @include grid-row();
}

header a {
  font-size: .8em;
}

#logo {
  
  @media #{$small} {
    @include grid-column(12);
  }
  @media #{$large} {
    @include grid-column(6);
  }
  h2, img {
    display: inline-block;
  }

/*  img {
    width: 4em;
  }*/

  h2 {
    color: $alt-secondary-color;
    line-height: 16px;
    font-family: 'Over the Rainbow', cursive;
  }
}

#login {

  @media #{$small} {
    @include grid-column(12);
    
    fieldset {
      @include grid-column(12);
      margin: 0;
    }
  }
  @media #{$large} {
    @include grid-column($columns: 6, $last-column:true);

    fieldset {
      @include grid-column(5);
      margin: 0;
    }
    fieldset:last-child {
      @include grid-column(2);
    }
  }
  
  h1,h2,h3,h4, label {
    color: $alt-secondary-color;   
  }
  label { display: inline; }


  input[type="submit"] {
    @include button($full-width:true)
  }
}

#signup {
  @include grid-column(6);

  fieldset {
    @include grid-column($columns: 6, $float: false)
  }
}
