body {
  background-color: rgba(229,221,217, 0.1);
}

nav {
  background-color: $alt-primary-color;
}

h2 {
  color: $alt-primary-color;
}

header {
  @include grid-row();
  height: 5.5em;
  min-width: 960px;
}

header .right {
  height: 5.5em;
  width: 10em;
  display: inline-block;
  line-height: 5.5em;
  p {
    display: inline;
    font-size: 1.15em;
    padding-left: 5px;
  }
}

#user-info {
  padding-left: 1em;

  img { 
    vertical-align: middle; 
    border-radius: 50px
  }
}

li, p {
  list-style-type: none;
  margin: 4px;
}

.notice {
  float: right;
  color: $alt-primary-color;
  padding: .5em;
}

.errors {
  color: $alert-color;
  display: inline-block;
  margin-bottom: 1em;
}

.delete {
  font-size: 19px;
  font-weight:bold;
}

.edit {
  font-size: 18px;
  font-weight:bold;
}

header fieldset {
  margin: 0;
  padding: 13px 0 0 0;
}

header a {
  font-size: .8em;
}

#logo {
  

  
    @include grid-column(6);
  

  padding: 0;
  height: 5.5em;

  h2, img {
    display: inline-block;
  }

  h2 {
    color: $alt-secondary-color;
    line-height: 16px;
    font-family: 'Over the Rainbow', cursive;
    margin: .8em;
  }
}

/* This modifies the login form */
#login {


  @include grid-column($columns: 6, $last-column:true);

  fieldset {
    @include grid-column(5);
    margin: 0;
  }
  fieldset:last-child {
    @include grid-column(2);
  }

  
  h1,h2,h3,h4, label {
    color: $alt-secondary-color;   
  }
  label { display: inline; }


  input[type="submit"] {
    font-size: .77em !important;
    @include button($full-width:true, $padding: $button-med)
  }
}
/* This controls the sign up form and picture*/
#signup {
  fieldset {
    @include grid-column($columns: 8)
  }

  img {
    padding-left: 4em;
    height: 85%;
    width: 85%;
    opacity:0.2;
  }

  fieldset:last-child {
    @include grid-column(4);
    }
  input[type="submit"] {
    @include button($full-width:true)
  }
}

#user_nav {
  @include grid-column($columns: 3, $last-column:true);
  width: auto;
  padding: 0 0 15px 0;

  a {
    font-size: 1em;
    line-height: 40px;
    height: 50%;
  }

  img {
    border-radius: 50px;
  }
}

table { 
  width: 100%;
  border-left: none;
  border-right: none;
}

#index-page {
  display: table;
  width: 100%;
  min-width: 960px;

}
#left_column {
  width: 25%;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

#middle_column {
  width: 50%;
  text-align: left;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background-color: $alt-secondary-color;

  ul, h3 {
    padding: 0 20% 0 20%;
  }

  h4, h5 {
    text-align: center;
  }
}

#right_column {
  width: 25%;
  text-align: left;
  padding-left: 1em;

  li {
    text-indent: 2em;
  }
}


#left_column, #middle_column, #right_column {
    display: table-cell; 
}

#edit_form {
  float: right;
  width: 50%;
  padding-right: 200px;
}

#profile_header {
  padding-left: 100px;
  width: 50%;
  float: left;
  text-align: center;
}

input[type="submit"] {
  @include button($padding: $button-med)
}

#list_show {
  text-align: center;
}

.headings p {
  float: left;
  padding: 0 0 0 1em;
  margin-right: 3em;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background-color: $alt-secondary-color;
  font-size: 16px;
  width: 85%;
  height: 1.7em;

  button, a {
    padding-right: 8px;
    float: right;
  }
}

.lists li {
    text-indent: 1.5em;
}

#friends {
  padding-left: 1.5em;

  img {
    border-radius: 50px;
  }
}

p img {
  border-radius: 50px;
}


/*These override the modal fonts*/
#list_name, .ui-button-text, .ui-dialog-title, #dialog-bills-form {
    font-family: 'Esteban', serif;
    
    input[type="submit"] {
      font-family: 'Esteban', serif;
    }
    .cancel {
      font-family: 'Esteban', serif;
    }
}

#description, #amount, #date {
  font-family: 'Esteban', serif;
}
input[type="submit"] 


#invite_friend #middle_column {
  @include grid-column(4);

  h4 {
    text-align: left;
  }

/*  img {
    padding-left: 4em;
    height: 85%;
    width: 85%;
    opacity:0.2;
  }*/
}

tr th {

  .create {
    float: right;
    color: $alt-primary-color;
  }

  .settle-up {
    float: right;
    color: $alt-primary-color;
  }

/*  .remote-delete-list {
    float: right;
  }

  .edit {
    float: right;
  }*/

  a {
    padding-left: .5em;
  }
}
footer {
  position: fixed;
  background-color: $alt-primary-color;
  border-top: 1px solid $alt-secondary-color;
  left: 0px;
  bottom: 0px;
  height: 3em;
  width: 100%;
  min-width: 960px;
  line-height: 3em;
  padding-top: .5em;
  color: $alt-secondary-color;

}
